body{
    overflow-y: hidden;
}
.login{
    width: 400px;
    background-color: rgb(252, 252, 246);
    margin: 0 auto;
    margin-top: 13rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 2rem;
}
.login-name{
    display: flex;
    padding-top: 1rem;
    justify-content: center;
}
.login-name h3{
    font-size: large;
    font-weight: bold;
    font-family: cursive;
}
.form{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}